/* 페이지 전체 틀 CSS */
@charset "UTF-8";

/* [은실] frame.css 공통 적용을 위해서 기존 속성은 주석처리합니다. */
/* 페이지 전체 틀 */
/* #section{
	margin:0 auto;
	width:1890px;
	overflow:hidden;
} */

/* 내용물 영역 CSS */

/* #section #contentArea {
	margin:200px 0px 0px 50px;
	float:left;
} */

/* [은실] */
#section #contentArea #content {
	border: 0;
	margin: 0;
	padding: 0;
}

#section #contentArea #topic { /* 게시판 제목 */
	width:240px;
	font-family: 'Rubik', sans-serif;
	font-size:2em;
	color:#5b5b5b;
	margin-bottom: 30px;	
}

#section #contentArea #board { /* 게시판 */
	width:1060px;
	border:5px solid #eac49d;
	/* border-left:5px solid #eac49d;
	border-right:5px solid #eac49d; */
	border-radius: 20px; /* 모서리 곡률 조정 (td쪽 모서리 곡률도 10px로 조정했습니다) */
	-webkit-border-horizontal-spacing: 0;
	border-spacing:0;
	margin-left:20px;
}

#section #contentArea #board #title td{
	background-color: #eac49d;
	border-radius: 10px 10px 0 0;
}
#section #contentArea #board #title td #info_title{
	font-size: 1.4em;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	font-weight: bold;
}
#section #contentArea #board #title td .info_area{
	margin-left:100px;
}
#section #contentArea #board #title td .info_area div{
	width:600px;
	margin-bottom: 5px;
	font-size:1.1em;
}
#section #contentArea #board #title td .info_area div:nth-last-child(1){
	width:250px;
}

#section #contentArea #board #title td div{
	overflow:hidden;
}

#section #contentArea #board #title td div div{
	float:left;
}

#section #contentArea #board #file td{
	padding:0 0 0 50px;
}

#section #contentArea #board #content td div{
	width:950px;
	margin:30px auto;
	font-size:1.1em;
}

#section #contentArea #board #button_area #eventRegisterBtn{
	width:200px;
	height:30px;
	margin:15px 0;
	margin-left:790px;
}
#section #contentArea #board #button_area #eventRegisterBtn button{
	height:30px;
	width:55px;
	margin-left:5px;
	background-color:#eac49d;
	color:white;
	border:1px solid #eac49d;
	cursor: pointer;
}

/* 일러스트 영역 CSS */
#section #illustArea{
	position: relative;
	margin:200px 0px 0px 50px;
	float: right;
}

#section #illustArea #illust{
	position: fixed;
	top:130px;
	right:50px;
	width:550px;
	height:650px;
}

#eventContent #content2 #illust img{
}